.navbar {
  max-width: 1600px;
  min-width: 300px;
  width: 100%;
  height: 100px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

a {
  height: auto;
  width: auto;
  background: inherit;
}

img {
  width: auto;
  height: auto;
  object-fit: cover;
}

.navbarLinks {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
